# Android .gitignore
*.apk
*.ap_

# Windows thumbnail db
.DS_Store

# Java & Generated
*.class
bin/
gen/

# Eclipse .gitignore
.classpath
.project
project.properties
.loadpath
.metadata
*.tmp
.settings/
bin/
temp/
proguard/
local.properties

