extends layout

block content
	div.container-fluid
		div.row-fluid
			div.col-md-6.div-custom#deals
				p.homeP.text-dark-brown.text-center Deals
				ul.ul-custom
					li.li-link-custom
						a(href='/')
								img.img-custom(src='/images/DealOne.png', alt="Deal One")
						div.well.well-custom
							p An excellent deal!
					li.li-link-custom
						a(href='/')
								img.img-custom(src='/images/DealTwo.png', alt="Deal Two")
						div.well.well-custom
							p Javascript????
					li.li-link-custom
						a(href='/')
								img.img-custom(src='/images/DealThree.png', alt="Deal Three")
						div.well.well-custom
							p I love wells!
			div.col-md-6.div-custom#restaurants
				p.homeP.text-dark-brown.text-center Restaurants
			div.vr
	br
	div.containter-fluid
		div.col-md-12.div-custom#reviews
			p.homeP.text-dark-brown.text-center Reviews
		