extends layout

block content
	div.container-fluid
		div.row-fluid
			div.col-md-6.home-div-custom#deals
				p.home-p.text-dark-brown.text-center Deals
				ul.home-ul-custom
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealOne.png', alt="Deal One")
						div.well.home-well-custom
							p An excellent deal!
						hr.home-horizontal-separator
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealTwo.png', alt="Deal Two")
						div.well.home-well-custom
							p Javascript????
						hr.home-horizontal-separator
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealThree.png', alt="Deal Three")
						div.well.home-well-custom
							p I love wells!
			div.col-md-6.home-div-custom#restaurants
				p.home-p.text-dark-brown.text-center#home-restaurant-label Featured Restaurants
				ul.home-ul-custom
					li.home-li-link-custom
						div.well-sm.home-well-custom
							h3 
								a(href="/search?search-input=Au+Cheval&location-input=800+W+Randolph+St+Chicago%2C+IL+60607&time-input=default") Au Cheval
							p.home-restaurant-info-content Rating: 4.6/5
							p.home-restaurant-info-content Price: $$
							span.label.label-success.home-label-size 10 min.
							div.home-address-container
								p.multiline-p.
									800 W Randolph St
									Chicago, IL 60607
									Phone number: (312) 929-4580
						hr.home-horizontal-separator
					li.home-li-link-custom
						div.well-sm.home-well-custom
							h3 
								a(href="/search?search-input=L2O&location-input=2300+N+Lincoln+Park+W+Chicago%2C+IL+60614&time-input=default") L2O
							p.home-restaurant-info-content Rating: 4.7/5
							p.home-restaurant-info-content Price: $$$$	
							span.label.label-success.home-label-size 57 min.
							div.home-address-container
								p.multiline-p.
									2300 N Lincoln Park W
									Chicago, IL 60614
									Phone number: (773) 868-0002
						hr.home-horizontal-separator
					li.home-li-link-custom
						div.well-sm.home-well-custom
							h3 
								a(href="/search?search-input=Little+Goat&location-input=820+W+Randolph+St+Chicago%2C+IL+60607&time-input=default") Little Goat
							p.home-restaurant-info-content Rating: 4.4/5
							p.home-restaurant-info-content Price: $$ 
							span.label.label-success.home-label-size 36 min.
							div.home-address-container
								p.multiline-p.
									820 W Randolph St
									Chicago, IL 60607
									Phone number: (312) 888-3455
			div.home-vr
	hr.home-horizontal-separator
	br
	div.containter-fluid
		div.col-md-12.home-div-custom#reviews
			p.home-p.text-dark-brown.text-center Reviews
			ul.home-ul-custom
				li
					div.row-fluid
						div.col-md-3
							ul.home-ul-custom
								li
									a(href='/')
										img.home-img-custom(src='/images/UserPhoto.png', alt="User Photo")
								li
									a(href='/') 
										p Miranda Asheath
								li
									p Santa Clara, CA
								li
									p 173 reviews
						div.col-md-9
							a(href='/')
								img.home-review-img-custom(src='/images/DealTwo.png', alt="Deal Two")
							p.home-rating-p Rating: 4/5
							p Reviewed on 3/24/14
							br
							p Came here for some dessert on a weeknight, I decided to try the strawberry pudding which my friend recommended and raved about. Honestly, it was just aite. They do come in these cute, little glass jars that you can keep.
							p I think at later times in the day, a couple hours before closing, they have 2 for 1 sales for their pastries that they need to get rid of. Prices in general seem to be a bit pricier compared to other Asian bakeries. I've tried some of their cakes as well which are pretty decent. Still have yet to try their cronuts, I'll get around to it one day.
							br
							br
							p Was this review helpful?
							button.home-button-custom Yes
							button.home-button-custom No
							br
							br
				hr.home-horizontal-separator					
				li
					div.row-fluid
						div.col-md-3
							ul.home-ul-custom
								li
									a(href='/')
										img.home-img-custom(src='/images/UserPhoto.png', alt="User Photo")
								li
									a(href='/') 
										p Cordelia Sha
								li
									p Mountain View, CA
								li
									p 473 reviews
						div.col-md-9
							a(href='/')
								img.home-review-img-custom(src='/images/DealTwo.png', alt="Deal Two")
							p.home-rating-p Rating: 4/5
							p Reviewed on: 3/26/14
							br
							p I've been looking for those everywhere and randomly walked in to Paris Baguette one day and saw them and was super exited and hoped that it lived up to the hype.
							p It did. It's actually a super simple blend of croissant and a donut with a little cream swirled on top, but it was really good. The texture was like a croissant, but the flavor was like a donut. Definitely best of both worlds!
							p The store itself is pretty nice. Super modern, big windows, high ceilings and you go around with your tray picking out what sweet/savory bakery items that you want. I think they run out pretty quickly and the items change all the time so you might not always find what you're looking for, but trust me, you will definitely find something. 
							br
							br
							p Was this review helpful?
							button.home-button-custom Yes
							button.home-button-custom No



							


		