extends layout

block content
	div.container-fluid
		div.row-fluid
			div.col-md-6.div-custom#deals
				//div.well.well-custom#deals
				p.homeP.text-dark-brown.text-center Deals
			div.col-md-6.div-custom#restaurants
				//div.well.well-custom#restaurants
				p.homeP.text-dark-brown.text-center Restaurants
			div.vr
	br
	div.containter-fluid
		div.col-md-12.div-custom#reviews
			p.homeP.text-dark-brown.text-center Reviews
		