extends layout

block content
	h1= title
	p Welcome to #{title}
	div.container-fluid
		div.row-fluid
			div.col-md-6
				div.well.homeCustom#deals
					p.homeP.text-dark-brown.text-center Deals
			div.col-md-6
				div.well.homeCustom#restaurants
					p.homeP.text-dark-brown.text-center Restaurants
	div.containter-fluid
		div.col-md-12
			div.well.homeCustom#reviews
				p.homeP.text-dark-brown.text-center Reviews
		