extends layout

block content
	div.container-fluid
		div.row-fluid
			div.col-md-6.home-div-custom#deals
				p.home-p.text-dark-brown.text-center Deals
				ul.home-ul-custom
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealOne.png', alt="Deal One")
						div.well.home-well-custom
							p An excellent deal!
						hr.home-horizontal-separator
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealTwo.png', alt="Deal Two")
						div.well.home-well-custom
							p Javascript????
						hr.home-horizontal-separator
					li.home-li-link-custom
						a(href='/')
								img.home-img-custom(src='/images/DealThree.png', alt="Deal Three")
						div.well.home-well-custom
							p I love wells!
			div.col-md-6.home-div-custom#restaurants
				p.home-p.text-dark-brown.text-center#home-restaurant-label Featured Restaurants
				ul.home-ul-custom
					li.home-li-link-custom
						div.well-sm.home-well-custom
							div.home-restaurant-info
								h3 Au Cheval
								p.home-restaurant-info-content Rating: 4.6/5
								p.home-restaurant-info-content Price: $$
								span.label.label-success.home-label-size 10 min.
								div.home-address-container
									p.home-address.
										800 W Randolph St
										Chicago, IL 60607
										Phone number: (312) 929-4580
						hr.home-horizontal-separator
					li.home-li-link-custom
						div.well-sm.home-well-custom
							h3 L2O
							p.home-restaurant-info-content Rating: 4.7/5
							p.home-restaurant-info-content Price: $$$$	
							span.label.label-success.home-label-size 57 min.
							div.home-address-container
								p.home-address.
									2300 N Lincoln Park W
									Chicago, IL 60614
									Phone number: (773) 868-0002
								
						hr.home-horizontal-separator
					li.home-li-link-custom
						div.well-sm.home-well-custom
							h3 Little Goat
							p.home-restaurant-info-content Rating: 4.4/5
							p.home-restaurant-info-content Price: $$ 
							span.label.label-success.home-label-size 36 min.
							div.home-address-container
								p.home-address.
									820 W Randolph St
									Chicago, IL 60607
									Phone number: (312) 888-3455
			div.home-vr
	hr.home-horizontal-separator
	br
	div.containter-fluid
		div.col-md-12.home-div-custom#reviews
			p.home-p.text-dark-brown.text-center Reviews
		