doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/search_style.css')
		link(rel='stylesheet', href='/stylesheets/homepage-style.css')
		link(rel='icon', type='image/png', href='/images/favicon.png')
		script(type='text/javascript' src='/javascripts/jquery-1.11.0.min.js')
	body
		div#subtron 
			ul#subtron-list
				li.subtron-list-item
					a.subtron-button.background-purple Home
				li.subtron-list-item
					form#new-search(method="get", action="/search")
						input.search-input(type="text", name="search-input", size="21", maxlength="120", placeholder="Search For Food")
						input.search-input(type="text", name="location-input", size="21", maxlength="120", placeholder="Enter A Location")
						select.search-input(name="time-input")
							option(value="default", selected) Max wait time
							option(value="5") 5 minutes
							option(value="10") 10 minutes
							option(value="15") 15 minutes
							option(value="30") 30 minutes
							option(value="45") 45 minutes
							option(value="60") 1 hour
							option(value="90") 1 hour 30 minutes
							option(value="120") 2 hours

						input.search-button(type="submit", value="Search")
		div#jumbotron.background-periwinkle
			a#jumbotron-logo(href='/')
						img(src='/images/CapaCityLogoCropped75.png', alt="CapaCity Home")
		div#content-container
			div#content.background-light-green
				block content
			div#bottom-container
				div.info
