doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#jumbotron 
			a(href='/')
				img(src='/images/CapaCityLogoCropped.png', alt="CapaCity Home")
		div#left-margin.side-margin
		div#content-container
			div#content
				block content
		div#right-margin.side-margin
