doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/search_style.css')
		link(rel='stylesheet', href='/stylesheets/homepage-style.css')
	body
		div#jumbotron 
			a(href='/')
				img(src='/images/CapaCityLogoCropped.png', alt="CapaCity Home")

			form#new-search(method="get", action="http://www.google.com")
				input.search-input(type="text", name="q", size="21", maxlength="120")
				input.search-button(type="submit", value="Search")
		div#content-container
			div#content.background-light-green
				block content
