doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/search_style.css')
		link(rel='stylesheet', href='/stylesheets/homepage-style.css')
		link(rel='icon', type='image/png', href='/images/favicon.png')
	body
		div#subtron 
			
			ul#jumbolist
				li.jumbolistitem
					div#logopush
						a.jumbobutton.background-light-green poop

				li.jumbolistitem
					form#new-search(method="get", action="/search")
						input.search-input(type="text", name="q", size="21", maxlength="120")
						input.search-button(type="submit", value="Search")
		div#jumbotron.background-periwinkle
			a#jumbologo(href='/')
						img(src='/images/CapaCityLogoCropped75.png', alt="CapaCity Home")

		div#content-container
			div#content.background-light-green
				block content
			div#bottom-container
				div.info
