doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#jumbotron 
			a(href='/')
				img(src='/images/CapaCityLogoCropped.png', alt="CapaCity Home")
		div.sideMargin
		div#contentContainer
			block content
		div.sideMargin
