extends layout

block content
	div#search-filter-container
		h3
			p Search: 
				span#search-query #{food} 
				span near 
				span#search-location #{location}
		br
		a(href='#') sort / filter
		div wait
		div price
		div distance
		div preference
	div#search-results
		each result in data
			div.search-result-box
				h4 #{result.name}
				h4
					span.label.label-success #{result.wait} min.
				p.lead.search-result-box-description a fascinating description
	div#search-info-pane
		div#search-map
		div.search-info-box
			h3 info
			p.lead.search-result-box-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius sem augue, non ornare eros hendrerit in. Integer sed odio sed nisl lacinia posuere nec egestas nulla. Curabitur justo odio, lacinia quis mollis vel, mollis in libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		div.search-info-box
			h3 reviews
			p.lead.search-result-box-description Donec sit amet felis sollicitudin, laoreet risus quis, pellentesque felis. 
			br
			p.lead.search-result-box-description In hac habitasse platea dictumst. 
			br
			p.lead.search-result-box-description Nullam pretium quam lectus, in volutpat orci varius et. 
			br
			p.lead.search-result-box-description Aenean porta quam eget faucibus mattis. Phasellus nec lacus felis. 
			br
			p.lead.search-result-box-description Aenean tempus in mauris ac venenatis. Fusce tristique posuere tortor quis vehicula.
	script(src='/javascripts/google-maps.js')
	script(src='/javascripts/search-results.js')
	script(src='/javascripts/search-ui.js')