extends layout

block content
	div#search-filter-container #{query}
		br
		a(href='#') sort / filter
	div#search-results
		each result in data
			div.search-result-box
				h4 #{result.name}
				h4
					span.label.label-success #{result.wait} min.
				p.lead a fascinating description
	div#search-info-pane
		div#search-map
		div.search-info-box
			h3 info
		div.search-info-box
			h3 reviews
