extends layout

block content
	div#search-filter-container #{query}
		br
		a(href='#') sort / filter
	div#search-results
		div.search-result-box Sakanaya
		div.search-result-box Benehana's
		div.search-result-box Pizza Hut
	div#search-info-pane
		div#search-map
		div.search-info-box
			h3 info
		div.search-info-box
			h3 reviews
