extends layout

block content
	div#search-filter-container
		h3
			p Search: 
				span#search-query #{food} 
				span near 
				span#search-location #{location}
		div#search-filter-options
			div#search-options-left
				h4 wait 
				div.btn-group#wait-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary 5
					div(type="radio").btn.btn-primary 10
					div(type="radio").btn.btn-primary 15
					div(type="radio").btn.btn-primary 30
					div(type="radio").btn.btn-primary 45
					div(type="radio").btn.btn-primary 60
					div(type="radio").btn.btn-primary 90
					div(type="radio").btn.btn-primary 120
				h4 price 
				div.btn-group#price-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary $
					div(type="radio").btn.btn-primary $$
					div(type="radio").btn.btn-primary $$$
					div(type="radio").btn.btn-primary $$$$
			div#search-options-right
				h4 distance (km) 
				div.btn-group#dist-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary 1
					div(type="radio").btn.btn-primary 3
					div(type="radio").btn.btn-primary 5
					div(type="radio").btn.btn-primary 10+
				h4 preference 
				div.btn-group#pref-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary open now
					div(type="radio").btn.btn-primary delivery
					div(type="radio").btn.btn-primary reservation
			br
			br
		a#filterToggle(href='#') sort / filter
	div#search-results
		each result in data
			div.search-result-box
				h4 #{result.name}
				h4
					span.label.label-success #{result.wait} min.
				p.lead.search-result-box-description a fascinating description
	div#search-info-pane.search-rightpane
		div#search-map
		div.search-info-box
			h3#search-selected-title
			p.lead.search-result-box-description#search-selected-description
		h3 Reviews
		div.search-info-box#search-reviews
			ul.search-ul-custom
				li
					div.row-fluid
						div.col-md-3
							ul.search-ul-custom
								li
									a(href='/')
										img.search-user-icon(src='/images/UserPhoto.png', alt="User Photo")
								li
									a(href='/') 
										p Miranda Asheath
								li
									p Santa Clara, CA
								li
									p 173 reviews
						div.col-md-9
							p.home-rating-p Rating: 4/5
							p Reviewed on 3/24/14
							br
							p Came here for some dessert on a weeknight, I decided to try the strawberry pudding which my friend recommended and raved about. Honestly, it was just aite. They do come in these cute, little glass jars that you can keep.
							p I think at later times in the day, a couple hours before closing, they have 2 for 1 sales for their pastries that they need to get rid of. Prices in general seem to be a bit pricier compared to other Asian bakeries. I've tried some of their cakes as well which are pretty decent. Still have yet to try their cronuts, I'll get around to it one day.
							br
							br
							p Was this review helpful?
							button.home-button-custom Yes
							button.home-button-custom No
							br
							br
				hr.home-horizontal-separator					
				li
					div.row-fluid
						div.col-md-3
							ul.search-ul-custom
								li
									a(href='/')
										img.search-user-icon(src='/images/UserPhoto.png', alt="User Photo")
								li
									a(href='/') 
										p Cordelia Sha
								li
									p Mountain View, CA
								li
									p 473 reviews
						div.col-md-9
							p.home-rating-p Rating: 4/5
							p Reviewed on: 3/26/14
							br
							p I've been looking for those everywhere and randomly walked in to Paris Baguette one day and saw them and was super exited and hoped that it lived up to the hype.
							p It did. It's actually a super simple blend of croissant and a donut with a little cream swirled on top, but it was really good. The texture was like a croissant, but the flavor was like a donut. Definitely best of both worlds!
							p The store itself is pretty nice. Super modern, big windows, high ceilings and you go around with your tray picking out what sweet/savory bakery items that you want. I think they run out pretty quickly and the items change all the time so you might not always find what you're looking for, but trust me, you will definitely find something. 
							br
							br
							p Was this review helpful?
							button.home-button-custom Yes
							button.home-button-custom No
	img(src='/images/powered-by-google.png')#powered-by-google
	script(src='/javascripts/search-ui.js')
	script(src='/javascripts/google-maps.js')
	script(src='/javascripts/search-results.js')