extends layout

block content
	div#search-filter-container
		h3
			p Search: 
				span#search-query #{food} 
				span near 
				span#search-location #{location}
		div#search-filter-options
			div#search-options-left
				h4 wait 
				div.btn-group#wait-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary 5
					div(type="radio").btn.btn-primary 10
					div(type="radio").btn.btn-primary 15
					div(type="radio").btn.btn-primary 30
					div(type="radio").btn.btn-primary 45
					div(type="radio").btn.btn-primary 60
					div(type="radio").btn.btn-primary 90
					div(type="radio").btn.btn-primary 120
				h4 price 
				div.btn-group#price-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary $
					div(type="radio").btn.btn-primary $$
					div(type="radio").btn.btn-primary $$$
					div(type="radio").btn.btn-primary $$$$
			div#search-options-right
				h4 distance (km) 
				div.btn-group#dist-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary 1
					div(type="radio").btn.btn-primary 3
					div(type="radio").btn.btn-primary 5
					div(type="radio").btn.btn-primary 10+
				h4 preference 
				div.btn-group#pref-group(data-toggle="buttons")
					div(type="radio").btn.btn-primary open now
					div(type="radio").btn.btn-primary delivery
					div(type="radio").btn.btn-primary reservation
			br
			br
		a#filterToggle(href='#') sort / filter
	div#search-results
		each result in data
			div.search-result-box
				h4 #{result.name}
				h4
					span.label.label-success #{result.wait} min.
				p.lead.search-result-box-description a fascinating description
	div#search-info-pane.search-rightpane
		div#search-map
		div.search-info-box
			h3 info
			p.lead.search-result-box-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius sem augue, non ornare eros hendrerit in. Integer sed odio sed nisl lacinia posuere nec egestas nulla. 
		div.search-info-box
			h3 reviews
			p.lead.search-result-box-description Donec sit amet felis sollicitudin, laoreet risus quis, pellentesque felis. 
			br
			p.lead.search-result-box-description In hac habitasse platea dictumst. 
			br
			p.lead.search-result-box-description Nullam pretium quam lectus, in volutpat orci varius et. 
			br
			p.lead.search-result-box-description Aenean porta quam eget faucibus mattis. Phasellus nec lacus felis. 
			br
			p.lead.search-result-box-description Aenean tempus in mauris ac venenatis. Fusce tristique posuere tortor quis vehicula.
	script(src='/javascripts/search-ui.js')
	script(src='/javascripts/google-maps.js')
	script(src='/javascripts/search-results.js')