a {
	color: black;
}

.home-div-custom {
	background-color: inherit;
	height: 600px;
}

.home-well-custom {
	background-color: rgba(255,255,255,.4);
	position: relative;
}

.home-vr {
	width:1px;
	height: 500px;
	background-color: rgba(82,82,82,.4);
	position: relative;
	left: 50%; 
	top: 75px;
}

.home-review-container{
	position: relative;
	left: 30%;
}

.home-horizontal-separator {
	border-color: rgba(82,82,82,.4);
	width: 90%;
}

.home-ul-custom
{
    list-style-type: none;
}

.home-button-custom
{
	margin: 5px;
}

.home-li-link-custom {
	/*padding: 10px;*/
}

.home-img-custom {
	padding: 5px;
}

.home-review-img-custom{
	padding-bottom: 10px;
}

.home-p {
	font-size: 25px;
}

.home-rating-p{
	font-size: 20px;
}

.home-review-header{
	display: inline;
}

#home-reviews {
	height: 500px;
}

.home-address-container {
	position: absolute;
	right: 15px;
	top: 30px;
}

.home-address {
	white-space: pre;
}

.home-label-size {
	font-size: 14px;
}

#home-restaurant-label {
	margin-bottom: 40px;
}

.home-restaurant-info-content {
	margin: 5px 0;
}