.div-custom{
	background-color: inherit;
	height: 600px;
}

.well-custom{
	background-color: rgba(255,255,255,.4);
}

.vr {
	width:1px;
	height: 500px;
	background-color: rgba(82,82,82,.4);
	position: relative;
	left: 50%; 
	top: 75px;
}

.ul-custom
{
    list-style-type: none;
}

.li-link-custom{
	padding: 10px;
}

.img-custom{
	padding:5px;
}

.homeP{
	font-size: 25px;
}

#reviews {
	height: 500px;
}