#search-filter-container{
	background-color: gray;
	padding: 15px;
	margin-bottom: 15px;
}

#search-results{
	float: left;
	width: 42%;
}

.search-result-box{
	background-color: lightgreen;
	color: black;
	border: 1px solid whitesmoke;
	padding: 10px;
	margin-bottom: 25px;
}



#search-info-pane{
	margin-left: 42%;
	padding-left: 20px;
}

#search-info-pane:after{
	clear: both;
}

#search-map{
	background-color: darkred;
	width: 100%;
	height: 250px;
}