html, body {
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	margin: 0px;
	height: 2000px;
}

a {
	color: #00B7FF;
}

.multiline-p {
	white-space: pre;
}

.text-light-green{
	color: #cfe5ae;
}

.text-dark-brown{
	color: #22281c;
}

.text-light-brown{
	color:#6c5a53;
}

.text-light-blue{
	color: #aad8d3;
}

.text-purple{
	color: #3d306a;
}

.text-periwinkle{
	color: #4e54a1;
}

.text-aqua{
	color: #11a99e;
}

.background-light-green{
	background-color: #cfe5ae;
}

.background-dark-brown{
	background-color: #22281c;
}

.background-light-brown{
	background-color:#6c5a53;
}

.background-light-blue{
	background-color: #aad8d3;
}

.background-purple{
	background-color: #3d306a;
}

.background-periwinkle{
	background-color: #4e54a1;
}

.background-aqua{
	background-color: #11a99e;
}

#jumbotron {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 75px;
	clear: both;
	overflow: hidden;
	/*line-height: 35px;*/
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #747EED), color-stop(0.87, #565EB0));*/
	/*background: -moz-linear-gradient(bottom, #747EED 0%, #565EB0 87%);*/

	box-shadow: 1px 1px 10px #B6BAB7;
}

#subtron {
	position: absolute;
	top: 75px;
	z-index: 1;
	width: 100%;
	height: 25px;
	clear: both;
	overflow: hidden;
	/*line-height: 35px;*/
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #747EED),
	color-stop(0.87, #565EB0)
	);
	background: -moz-linear-gradient(bottom, #747EED 0%, #565EB0 87%);
	
	box-shadow: 1px 1px 10px #B6BAB7;
}

#jumbotron-logo {
	position: absolute;
	left: 15%;
}

#subtron-list {
	width: 100%;
	/*padding-top: 2px;*/
	margin: 0;
	padding-left: 15%;
	list-style-type: none;
}

.subtron-list-item {
	display: inline;
	/*float: right;*/
}

.subtron-button {
	float: left;
	display: block;
	margin-right: 5px;
	text-align: center;
	text-decoration: none;
	width: 120px;
	height: 25px;
	font-size: 12px;
	padding: 5px 10px;
	/*padding-top: 23px;*/
	/*padding-left: 200px;*/
	background: #3d306a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #9375FF), color-stop(1, #574699));
	border-radius: 5px;
}

#new-search {
	float: right;
	padding-right: 50px;
	/*padding-right: 5%;*/
}

.search-input {
	margin: 0px 5px;
	font-size: 12px;
	color: #666;
	padding: 5px 10px;
	/*purple color scheme*/
	border: 1px solid #3d306a; 
	border-right: 0px;

	/*green color scheme*/
	/*border:1px solid #cfe5ae; border-right:0px;*/

	border-radius: 5px 5px;
	/*border-bottom-left-radius: 5px 5px;*/
	height: 25px;
	
}

.search-button {
	margin-left: 5px;
	font-size: 12px;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;

	/*purple color scheme*/
	color: #ffffff;
	border: 1px solid  #3d306a; 
	border-right:0px;
	background: #3d306a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #9375FF), color-stop(1, #574699));

	/*green color scheme*/
	/*color: #5D664E;
	border: solid 1px #cfe5ae; border-right:0px;
	background: #cfe5ae;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #E7FFC2), color-stop(1, #8B9976));*/

	border-radius: 5px 5px;
	/*border-bottom-right-radius: 5px 5px;*/

	height: 25px;
}

.search-button:hover {
	text-decoration: none;
	/*purple color scheme*/
	background: #3d306a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #765ECC), color-stop(1, #3A2F66));

	/*green color scheme*/
	/*background: #cfe5ae;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #A3B38A), color-stop(1, #758062));*/
}

#content-container {
	position: relative;
	height: 100%;
	background-color: #EDEDED;
	padding-top: 0.01%;
}

#content {
	width: 74%;
	height: 1600px;
	margin: 100px 13%;
	border: solid 1px #CCCCCC;
	padding: 30px;
}
