html, body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0px;
	height: 100%;
}

a {
	color: #00B7FF;
}

#jumbotron {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100px;
	clear: both;
	background-color: #cfe5ae;
	overflow: hidden;
	line-height: 100px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #CFE5AE),
	color-stop(0.89, #9FB086)
	);
	border-bottom-style: solid;
	border-bottom-color: #cfe5ae;
	border-bottom-width: 1px;
	box-shadow: none 1px 50px black;
}

#jumbotron>a {
	height: 100%;
}

#jumbotron>a>img {
	position: absolute;
	left: 100px;
}

.side-margin {
	position: relative;
	width: 13%;
	height: 100%;
	float: left;
	background-color: #EBEBEB;
}

#left-margin {
	border-right: solid 1px #ADADAD;
}

#right-margin {
	border-left: solid 1px #ADADAD;
}

#content-container {
	width: 73.85%;
	height: 100%;
	float: left;
	position: relative;
}

#content {
	margin-top: 100px;
	width: 100%;
}