html, body {
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	margin: 0px;
	height: 2000px;
}

a {
	color: #00B7FF;
}

.textLightGreen{
	color: #cfe5ae;
}

.textDarkBrown{
	color: #22281c;
}

.textLightBrown{
	color:#6c5a53;
}

.textLightBlue{
	color: #aad8d3;
}

.textPurple{
	color: #3d306a;
}

.textPeriwinkle{
	color: #4354a1;
}

.textAqua{
	color: #11a99e;
}

.backgroundLightGreen{
	background-color: #cfe5ae;
}

.backgroundDarkBrown{
	background-color: #22281c;
}

.backgroundLightBrown{
	background-color:#6c5a53;
}

.backgroundLightBlue{
	background-color: #aad8d3;
}

.backgroundPurple{
	background-color: #3d306a;
}

.backgroundPeriwinkle{
	background-color: #4354a1;
}

.backgroundAqua{
	background-color: #11a99e;
}

#jumbotron {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100px;
	clear: both;
	background-color: #cfe5ae;
	overflow: hidden;
	line-height: 100px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #CFE5AE),
	color-stop(0.89, #9FB086)
	);
	border-bottom-style: solid;
	border-bottom-color: #cfe5ae;
	border-bottom-width: 1px;
	box-shadow: 1px 1px 10px #B6BAB7;
}

#jumbotron>a {
	height: 100%;
}

#jumbotron>a>img {
	position: absolute;
	left: 100px;
}

#content-container {
	position: relative;
	height: 100%;
	background-color: #EDEDED;
	padding: 0.01% 13%;
}

#content {
	width: 100%;
	height: 1600px;
	margin-top: 100px;
	background-color: #FFF;
	border: solid 1px #DBDBDB;
}
